body{
    background: #01DF01;
    margin-left: 60px;
    margin-right: 60px;
}

header {
    margin-top: 70px;
}

h1 {
    color: white;
    font-family: fantasy;
}

h2 {
    color: white;
    font-family: fantasy;
}

p {
    font-size: 18px;  
}

footer{
    font-style: italic;
    font-family: fantasy;
    color: white;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
.img_contato {
    margin-bottom: 20px;
    width: 150px;
}

.img_servicos{
    margin-right: 35px;
}